.container {
    display: inline-block;
}

#controllers i {
    font-size: 20px;
}

#progress input {
    width: 100%;
}

#times,
#controllers {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}